#background {
    background-image: url(../static/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    min-height: calc(100vh - 59px);
    overflow: auto;
    margin: 0 auto;
}

:root {
    --el-color-primary: #f54c53;
}

#app {
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    min-height: 100vh;

}